

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
display: flex;
justify-content: center;
margin-bottom: 40px;
margin-top: 10px;
}

#container{
    position: relative;
left: 50%;
transform: translate(-50%);
border: 2px solid black;
height: max-content;
width:80%;
height:450px;
}

#inputfield{
margin-bottom:40px;
position:relative;
left: 50%;
transform: translate(-50%);
width: 50%;
border: 2px solid black;
outline: none;
}

#submit{
    position: relative;
    left: 25%;
}

#todos-container,
#completed-container{
    position: relative;
    left: 50%;
    transform: translate(-50%);
    width: 80%;
height:200px;
overflow-y: scroll;
background: red;
}

#todos-container{
    margin-top: 15px;
    margin-bottom: 20px;
}