*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


#todo-title{
display: flex;
justify-content: center;
margin-bottom: 40px;
margin-top: 10px;
}

/* to do list */

#container{
    position: relative;
left: 50%;
transform: translate(-50%);
border: 2px solid black;
height: max-content;
width:80%;
height:450px;
}

#inputfield{
margin-bottom:40px;
position:relative;
left: 50%;
transform: translate(-50%);
width: 50%;
border: 2px solid black;
outline: none;
}

#submit{
    position: relative;
    left: 25%;
}

#todos-container,
#completed-container{
    position: relative;
    left: 50%;
    transform: translate(-50%);
    width: 80%;
height:200px;
overflow-y: scroll;
border: 2px solid black;
font-size: 25px;
}

#todos-container{
    margin-top: 15px;
    margin-bottom: 20px;
}

#completed-container{
    color: green;
}

/* stopwatch */

#watch-container{
   position: relative;
   background: #ccf1eb;
   backdrop-filter: blur(100px);
width:400px;
height:350px;
margin: 0 auto;
font-size: clamp(50px,70px,90px);
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
row-gap:35px;
border-radius: 20px;
box-shadow: rgba(0, 0, 0, 0.678) 1.5px 1.5px 2.6px;
}

#time-container{
    width:fit-content;
height:fit-content;
    display: flex;  
    gap: 5px; 
    border-bottom: 1.5px solid rgb(255, 255, 255);
    background: linear-gradient(to bottom right, rgb(3, 13, 73) 2%, rgb(20, 170, 165) 30%, rgb(224, 142, 26) 95%);
    background-clip: text;
    color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent; 
    -webkit-text-stroke: 2px #000; 
}

#buttons-container{
    position: relative;
    width:65%;
    height:50px;
    font-size: 40px;
    display: flex;
    text-align: center;
    justify-content: center;
}

#start,#reset,#pause{
      width: 100px;
    padding: 0 5px 0 5px;
    box-shadow: rgba(0, 0, 0, 0.678) 1.5px 1.5px 2.6px;
    background: white;
    border-radius: 10px;
}

#start,#pause{
    position:absolute;
    left: 0;
}
#pause{
    display: none;
}

#reset{
    position:absolute;
    right:0;
}

#watch-title{
    font-size: 60px;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    margin-top: 50px;
    background: linear-gradient(to bottom right, rgb(3, 13, 73) 2%, rgb(20, 170, 165) 30%, rgb(224, 142, 26) 95%);
    background-clip: text;
    color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent; 
    -webkit-text-stroke: 2px #000; 
}

#millisecond{
    font-size: clamp(10px,30px,50px);
    margin-top: 40px;
}

.animation{
    animation: clicked .05s;
}

@keyframes clicked {

    to{
    transform:translateY(1.5px) translateX(1.5px);
 box-shadow: rgba(0, 0, 0, 0.678) 3px 3px 5px;
    }
}


@media (max-width: 450px){
    #watch-container{
        width: 95%;
    }  
    #buttons-container{
        width: 75%;
    }
    #start,#reset,#pause{
        width: 120px;
    }
}